In [ ]:
import pandas as pd
import csv
import os
import datetime
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import numpy as np
import time
import pycountry
import geopandas as gpd
import shapely.wkt
import seaborn as sns
from shapely.geometry import Point
import requests
from bs4 import BeautifulSoup

In [ ]:
#confirm the relative file path
import os
cwd = os.getcwd()
print(cwd)

In [ ]:
#Total Number Of Passenger Data

alaska_air = pd.read_csv("Passenger Data/alaska_air.csv")
alaska_air = alaska_air.rename(columns=alaska_air.iloc[0])
alaska_air = alaska_air.drop(0)
alaska_air = alaska_air.drop([267,268,269,270])
alaska_air = alaska_air[alaska_air["Month"] != 'TOTAL']
alaska_air['Airline'] = 'alaska air'

In [ ]:
#air wisconsin 
air_wisconsin = pd.read_csv("Passenger Data/air_wisconsin.csv")
air_wisconsin = air_wisconsin.rename(columns=air_wisconsin.iloc[0])
air_wisconsin = air_wisconsin.drop(0)
air_wisconsin = air_wisconsin.drop([267,268,269,270])
air_wisconsin = air_wisconsin[air_wisconsin["Month"] != 'TOTAL']
air_wisconsin['Airline'] = 'air_wisconsin'

In [ ]:
allegient_airways = pd.read_csv("Passenger Data/allegient_airways_passenger_data.csv")
allegient_airways = allegient_airways.rename(columns=allegient_airways.iloc[0])
allegient_airways = allegient_airways.drop(0)
allegient_airways = allegient_airways.drop([267,268,269,270])
allegient_airways = allegient_airways[allegient_airways["Month"] != 'TOTAL']
allegient_airways['Airline'] = 'allegient_airways'

In [ ]:
american_airways = pd.read_csv("Passenger Data/american_airways.csv")
american_airways = american_airways.rename(columns=american_airways.iloc[0])
american_airways = american_airways.drop(0)
american_airways = american_airways.drop([267,268,269,270])
american_airways = american_airways[american_airways["Month"] != 'TOTAL']
american_airways['Airline'] = 'american_airways'

In [ ]:
commutair_passenger = pd.read_csv("Passenger Data/commutair_passenger_data.csv")
commutair_passenger = commutair_passenger.rename(columns=commutair_passenger.iloc[0])
commutair_passenger = commutair_passenger.drop(0)
commutair_passenger = commutair_passenger.drop([267,268,269,270])
commutair_passenger = commutair_passenger[commutair_passenger["Month"] != 'TOTAL']
commutair_passenger['Airline'] = 'commutair_passenger'

In [ ]:
delta = pd.read_csv("Passenger Data/delta_passengers_data.csv")
delta = delta.rename(columns=delta.iloc[0])
delta = delta.drop(0)
delta = delta.drop([267,268,269,270])
delta = delta[delta["Month"] != 'TOTAL']
delta['Airline'] = 'delta'

In [ ]:
eastern = pd.read_csv("Passenger Data/eastern_passengers_data.csv")
eastern = eastern.rename(columns=eastern.iloc[0])
eastern = eastern.drop(0)
eastern = eastern.drop([38,39,40])
eastern = eastern[eastern["Month"] != 'TOTAL']
eastern['Airline'] = 'eastern'
#eastern

In [ ]:
envoy = pd.read_csv("Passenger Data/envoy_air.csv")
envoy = envoy.rename(columns=envoy.iloc[0])
envoy = envoy.drop(0)
envoy = envoy.drop([267,268,269,270])
envoy = envoy[envoy["Month"] != 'TOTAL']
envoy['Airline'] = 'envoy'

In [ ]:
frontier = pd.read_csv("Passenger Data/frontier_passenger_data.csv")
frontier = frontier.rename(columns=frontier.iloc[0])
frontier = frontier.drop(0)
frontier = frontier.drop([267,268,269,270])
frontier = frontier[frontier["Month"] != 'TOTAL']
frontier['Airline'] = 'frontier'

In [ ]:
gojet = pd.read_csv("Passenger Data/gojet_air_passenger_data.csv")
gojet = gojet.rename(columns=gojet.iloc[0])
gojet = gojet.drop(0)
gojet = gojet.drop([229, 230,231,232 ])
gojet = gojet[gojet["Month"] != 'TOTAL']
gojet['Airline'] = 'gojet'

In [ ]:
hawaii = pd.read_csv("Passenger Data/hawaiin_airways_passenger_data.csv")
hawaii = hawaii.rename(columns=hawaii.iloc[0])
hawaii = hawaii.drop(0)
hawaii = hawaii.drop([267,268,269,270])
hawaii = hawaii[hawaii["Month"] != 'TOTAL']
hawaii['Airline'] = 'hawaii'

In [ ]:
horizon = pd.read_csv("Passenger Data/horizon_air.csv")
horizon = horizon.rename(columns=horizon.iloc[0])
horizon = horizon.drop(0)
horizon = horizon.drop([267,268, 269, 270])
horizon = horizon[horizon["Month"] != 'TOTAL']
horizon['Airline'] = 'horizon'

In [ ]:
jetblue = pd.read_csv("Passenger Data/jb_passenger_data.csv")
jetblue = jetblue.rename(columns=jetblue.iloc[0])
jetblue = jetblue.drop(0)
jetblue = jetblue.drop([267,268,270])
jetblue = jetblue[jetblue["Month"] != 'TOTAL']
jetblue['Airline'] = 'jetblue'

In [ ]:
horizon = pd.read_csv("Passenger Data/horizon_air.csv")
horizon = horizon.rename(columns=horizon.iloc[0])
horizon = horizon.drop(0)
horizon = horizon.drop([267,268,269, 270])
horizon = horizon[horizon["Month"] != 'TOTAL']
horizon['Airline'] = 'horizon'

In [ ]:
mesa = pd.read_csv("Passenger Data/mesa_airlines.csv")
mesa = mesa.rename(columns=mesa.iloc[0])
mesa = mesa.drop(0)
mesa = mesa.drop([267,268,269, 270])
mesa = mesa[mesa["Month"] != 'TOTAL']
mesa['Airline'] = 'mesa'

In [ ]:
psa = pd.read_csv("Passenger Data/psa_airlines.csv")
psa = psa.rename(columns=psa.iloc[0])
psa = psa.drop(0)
psa = psa.drop([267,268,269,270])
psa = psa[psa["Month"] != 'TOTAL']
psa['Airline'] = 'psa'

In [ ]:
republic = pd.read_csv("Passenger Data/republic_airlines.csv")
republic = republic.rename(columns=republic.iloc[0])
republic = republic.drop(0)
republic = republic.drop([230,231,232])
republic = republic[republic["Month"] != 'TOTAL']
republic['Airline'] = 'republic'

In [ ]:
silver = pd.read_csv("Passenger Data/silver_passenger_data.csv")
silver = silver.rename(columns=silver.iloc[0])
silver = silver.drop(0)
silver = silver.drop([267,268,269,270])
silver = silver[silver["Month"] != 'TOTAL']
silver['Airline'] = 'silver'
silver

In [ ]:
skywest_air = pd.read_csv("Passenger Data/skywest_air.csv")
skywest_air = skywest_air.rename(columns=skywest_air.iloc[0])
skywest_air = skywest_air.drop(0)
skywest_air = skywest_air.drop([267,268,269,270])
skywest_air = skywest_air[skywest_air["Month"] != 'TOTAL']
skywest_air['Airline'] = 'skywest_air'

In [ ]:
sw = pd.read_csv("Passenger Data/southwestairlines_passengers.csv")
sw = sw.rename(columns=sw.iloc[0])
sw = sw.drop(0)
sw = sw.drop([267, 268, 269, 270])
sw = sw[sw["Month"] != 'TOTAL']
sw['Airline'] = 'sw'

In [ ]:
spirit_air = pd.read_csv("Passenger Data/spirit_air.csv")
spirit_air = spirit_air.rename(columns=spirit_air.iloc[0])
spirit_air = spirit_air.drop(0)
spirit_air = spirit_air.drop([267, 268, 269, 270])
spirit_air = spirit_air[spirit_air["Month"] != 'TOTAL']
spirit_air['Airline'] = 'spirt'

In [ ]:
sum_cunt = pd.read_csv("Passenger Data/sun_country_air.csv")
sum_cunt = sum_cunt.rename(columns=sum_cunt.iloc[0])
sum_cunt = sum_cunt.drop(0)
sum_cunt = sum_cunt.drop([266, 267, 268, 269])
sum_cunt = sum_cunt[sum_cunt["Month"] != 'TOTAL']
sum_cunt['Airline'] = 'sum_cunt'

In [ ]:
united_airlines = pd.read_csv("Passenger Data/united_airlines.csv")
united_airlines = united_airlines.rename(columns=united_airlines.iloc[0])
united_airlines = united_airlines.drop(0)
united_airlines = united_airlines.drop([267, 268, 269, 270])
united_airlines = united_airlines[united_airlines["Month"] != 'TOTAL']
united_airlines['Airline'] = 'united_airlines'

In [ ]:
uadom = united_airlines.loc[:, ["Year", "DOMESTIC", "Airline"]]

In [ ]:
#replace commas in Domestic, international, and Total string
uadom['DOMESTIC']= uadom['DOMESTIC'].str.replace(',',"")

In [ ]:
uadom["DOMESTIC"] = uadom["DOMESTIC"].astype(int)
uadom["Year"] = uadom["Year"].astype(int)
uadom2 = uadom.groupby('Year').sum()
uadom2["airline"] = "United Airlines"
#uadom2

In [ ]:
#Put all the data frames in a dictionary: 

df_list = [alaska_air, air_wisconsin, allegient_airways, american_airways , commutair_passenger
, delta, eastern, envoy,frontier , gojet ,hawaii, horizon, jetblue,horizon
, mesa, psa, republic, silver, skywest_air, sw,sum_cunt ,united_airlines]

In [ ]:
edited_dfs = []

In [ ]:
#edited_dfs is a list of all of the domestic airlines  

for i, df in enumerate(df_list):
    uadom = df.loc[:, ["Year", "DOMESTIC", "Airline"]]
    new_name = df_list[i] + "_dom"   # add "_domestic" to the original dataframe name
    edited_dfs.append((new_name,uadom))

In [ ]:
#Domestic_list of edited airlines 
dom_list = [tup[1] for tup in edited_dfs]

In [ ]:
# Take out the comma in each domestic dataframe

for i in dom_list:
    i['DOMESTIC'] = i['DOMESTIC'].astype(str).str.replace(',',"")
    i["DOMESTIC"] = i["DOMESTIC"].fillna('0')

In [ ]:
for i in dom_list:
     i["Year"] = i["Year"].fillna(0).astype(int)

In [ ]:
for i in dom_list:
    print(i)

In [ ]:
# Domestic Charts

In [ ]:
alaskadom = dom_list[0]
alaskadom["DOMESTIC"] = alaskadom["DOMESTIC"].astype(int)
alaskadom["Year"] = alaskadom["Year"].astype(int)
alaskadomfin = alaskadom.groupby(['Year', 'Airline']).sum().reset_index()
alaskadomfin = alaskadomfin.loc[alaskadomfin["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
# Wisconsin Air Domestic

wisconsin_dom = dom_list[1]
wisconsin_dom["DOMESTIC"] = wisconsin_dom["DOMESTIC"].astype(int)
wisconsin_dom["Year"] = wisconsin_dom["Year"].astype(int)
wisconsdom2 = wisconsin_dom.groupby(['Year', 'Airline']).sum().reset_index()
wisconsdom2 = wisconsdom2.loc[wisconsdom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
#df_list = [alaska_air, air_wisconsin, allegient_airways, american_airways , commutair_passenger
#, delta, eastern, envoy,frontier , gojet ,hawaii, horizon, jetblue,horizon
#, mesa, psa, republic, silver, skywest_air, sw,sum_cunt ,united_airlines]

In [ ]:
allegient_dom = dom_list[2]
allegient_dom["DOMESTIC"] = allegient_dom["DOMESTIC"].astype(int)
allegient_dom["Year"] = allegient_dom["Year"].astype(int)
allegient_dom2 = allegient_dom.groupby(['Year', 'Airline']).sum().reset_index()
allegient_dom2 = allegient_dom2.loc[allegient_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
american_dom = dom_list[3]
american_dom["DOMESTIC"] = american_dom["DOMESTIC"].astype(int)
american_dom["Year"] = american_dom["Year"].astype(int)
american_dom2 = american_dom.groupby(['Year', 'Airline']).sum().reset_index()
american_dom2 = allegient_dom2.loc[american_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
commut_dom = dom_list[4]
commut_dom["DOMESTIC"] = commut_dom["DOMESTIC"].astype(int)
commut_dom["Year"] = commut_dom["Year"].astype(int)
commut_dom2 = commut_dom.groupby(['Year', 'Airline']).sum().reset_index()
commut_dom2 = commut_dom2.loc[commut_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
delta_dom = dom_list[5]
delta_dom["DOMESTIC"] = delta_dom["DOMESTIC"].astype(int)
delta_dom["Year"] = delta_dom["Year"].astype(int)
delta_dom2 = delta_dom.groupby(['Year', 'Airline']).sum().reset_index()
delta_dom2 = delta_dom2.loc[delta_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
#eastern_dom = dom_list[6]
#eastern_dom["DOMESTIC"] = eastern_dom["DOMESTIC"].astype(int)
#eastern_dom["Year"] = eastern_dom["Year"].astype(int)
#eastern_dom2 = eastern_dom.groupby(['Year', 'Airline']).sum().reset_index()
#eastern_dom2 = eastern_dom2.loc[eastern_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
envoy_dom = dom_list[7]
envoy_dom["DOMESTIC"] = envoy_dom["DOMESTIC"].astype(int)
envoy_dom["Year"] = envoy_dom["Year"].astype(int)
envoy_dom2 = envoy_dom.groupby(['Year', 'Airline']).sum().reset_index()
envoy_dom2 = envoy_dom2.loc[envoy_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
frontier_dom = dom_list[8]
frontier_dom["DOMESTIC"] = frontier_dom["DOMESTIC"].astype(int)
frontier_dom["Year"] = frontier_dom["Year"].astype(int)
frontier_dom2 = frontier_dom.groupby(['Year', 'Airline']).sum().reset_index()
frontier_dom2 = frontier_dom2.loc[frontier_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
gojet_dom = dom_list[9]
gojet_dom["DOMESTIC"] = gojet_dom["DOMESTIC"].astype(int)
gojet_dom["Year"] = gojet_dom["Year"].astype(int)
gojet_dom2 = gojet_dom.groupby(['Year', 'Airline']).sum().reset_index()
gojet_dom2 = gojet_dom2.loc[gojet_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
#df_list = [alaska_air, air_wisconsin, allegient_airways, american_airways , commutair_passenger
#, delta, eastern, envoy,frontier , gojet ,hawaii, horizon, jetblue,horizon
#, mesa, psa, republic, silver, skywest_air, sw,sum_cunt ,united_airlines]

In [ ]:
hawaii_dom = dom_list[10]
hawaii_dom["DOMESTIC"] = hawaii_dom["DOMESTIC"].astype(int)
hawaii_dom["Year"] = hawaii_dom["Year"].astype(int)
hawaii_dom2 = hawaii_dom.groupby(['Year', 'Airline']).sum().reset_index()
hawaii_dom2 = hawaii_dom2.loc[hawaii_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
horizon_dom = dom_list[11]
horizon_dom["DOMESTIC"] = horizon_dom["DOMESTIC"].astype(int)
horizon_dom["Year"] = horizon_dom["Year"].astype(int)
horizon_dom2 = horizon_dom.groupby(['Year', 'Airline']).sum().reset_index()
horizon_dom2 = horizon_dom2.loc[horizon_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
#df_list = [alaska_air, air_wisconsin, allegient_airways, american_airways , commutair_passenger
#, delta, eastern, envoy,frontier , gojet ,hawaii, horizon, jetblue, horizon
#, mesa, psa, republic, silver, skywest_air, sw,sum_cunt ,united_airlines]

In [ ]:
mesa_dom = dom_list[13]
mesa_dom["DOMESTIC"] = mesa_dom["DOMESTIC"].astype(int)
mesa_dom["Year"] = mesa_dom["Year"].astype(int)
mesa_dom2 = mesa_dom.groupby(['Year', 'Airline']).sum().reset_index()
mesa_dom2 = mesa_dom2.loc[mesa_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
dom_list[14]

In [ ]:
psa = dom_list[14]
psa["DOMESTIC"] = psa["DOMESTIC"].astype(int)
psa["Year"] = psa["Year"].astype(int)
psa2 = psa.groupby(['Year', 'Airline']).sum().reset_index()
psa2 = psa2.loc[psa2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
republic_dom = dom_list[15]
republic_dom["DOMESTIC"] = republic_dom["DOMESTIC"].astype(int)
republic_dom["Year"] = republic_dom["Year"].astype(int)
republic_dom2 = republic_dom.groupby(['Year', 'Airline']).sum().reset_index()
republic_dom2 = republic_dom2.loc[republic_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
silver_dom = dom_list[17]
silver_dom["DOMESTIC"] = silver_dom["DOMESTIC"].astype(int)
silver_dom["Year"] = silver_dom["Year"].astype(int)
silver_dom2 = silver_dom.groupby(['Year', 'Airline']).sum().reset_index()
silver_dom2 = silver_dom2.loc[silver_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
#df_list = [alaska_air, air_wisconsin, allegient_airways, american_airways , commutair_passenger
#, delta, eastern, envoy,frontier , gojet ,hawaii, horizon, jetblue, horizon
#, mesa, psa, republic, silver, skywest_air, sw,sum_cunt ,united_airlines]


dom_list[18]

In [ ]:
skywest_dom = dom_list[18]
skywest_dom = skywest_dom.dropna()
skywest_dom["DOMESTIC"] = skywest_dom["DOMESTIC"].astype(int)
skywest_dom["Year"] = skywest_dom["Year"].astype(int)
skywest_dom2 = skywest_dom.groupby(['Year', 'Airline']).sum().reset_index()
skywest_dom2 = skywest_dom2.loc[skywest_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
dom_list[18]["DOMESTIC"].dropna()

dom_list[18]

In [ ]:
sw_dom = dom_list[18]
sw_dom["DOMESTIC"] = sw_dom["DOMESTIC"].astype(int)
sw_dom["Year"] = sw_dom["Year"].astype(int)
sw_dom2 = sw_dom.groupby(['Year', 'Airline']).sum().reset_index()
sw_dom2 = sw_dom2.loc[sw_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
sw_dom = dom_list[19]
sw_dom["DOMESTIC"] = sw_dom["DOMESTIC"].astype(int)
sw_dom["Year"] = sw_dom["Year"].astype(int)
sw_dom2 = sw_dom.groupby(['Year', 'Airline']).sum().reset_index()
sw_dom2 = sw_dom2.loc[sw_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
sum_cunt = dom_list[20]
sum_cunt["DOMESTIC"] = sum_cunt["DOMESTIC"].astype(int)
sum_cunt["Year"] = sum_cunt["Year"].astype(int)
sum_cunt2 = sum_cunt.groupby(['Year', 'Airline']).sum().reset_index()
sum_cunt2 = sum_cunt2.loc[sum_cunt2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
united_dom = dom_list[21]
united_dom["DOMESTIC"] = united_dom["DOMESTIC"].astype(int)
united_dom["Year"] = united_dom["Year"].astype(int)
united_dom2 = united_dom.groupby(['Year', 'Airline']).sum().reset_index()
united_dom2 = united_dom2.loc[united_dom2["Year"].isin([2019, 2020,2021,2022])]

In [ ]:
domestic_dataframe_merge_list = [alaskadomfin, wisconsdom2, allegient_dom2, american_dom2, commut_dom2,
                                 delta_dom2, envoy_dom2,frontier_dom2, gojet_dom2, hawaii_dom2, horizon_dom2, 
                                 mesa_dom2, psa2, republic_dom2,skywest_dom2, sw_dom2,sum_cunt2,united_dom2
                                ]

In [ ]:
merged_df = pd.concat(domestic_dataframe_merge_list, axis=0, ignore_index=True)

In [ ]:
df_2019 = merged_df[merged_df['Year'] == 2019]
grouped_df = df_2019.groupby(['Airline'])['DOMESTIC'].sum().reset_index()

# plot a pie chart
plt.pie(grouped_df['DOMESTIC'], labels=grouped_df['Airline'])
plt.title('Total Domestic Passengers by Airline in 2019')
plt.show()

In [ ]:
df_2020 = merged_df[merged_df['Year'] == 2020]
grouped_df = df_2020.groupby(['Airline'])['DOMESTIC'].sum().reset_index()

# plot a pie chart
plt.pie(grouped_df['DOMESTIC'], labels=grouped_df['Airline'])
plt.title('Total Domestic Passengers by Airline in 2020')
plt.show()

In [ ]:
df_2022 = merged_df[merged_df['Year'] == 2022]
grouped_df = df_2022.groupby(['Airline'])['DOMESTIC'].sum().reset_index()

# plot a pie chart
plt.pie(grouped_df['DOMESTIC'], labels=grouped_df['Airline'])
plt.title('Total Domestic Passengers by Airline in 2022')
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Subset the merged_df dataframe for 2019 and 2020 data
subset_df = merged_df.loc[merged_df['Year'].isin([2019, 2020])]

# Group the data by Year and Airline, and calculate the sum of Domestic
grouped_df = subset_df.groupby(['Year', 'Airline']).sum().reset_index()

# Pivot the dataframe to make a grouped bar chart
pivot_df = grouped_df.pivot(index='Airline', columns='Year', values='DOMESTIC')

# Sort the values in descending order
pivot_df = pivot_df.sort_values(by=2020, ascending=False)

# Create a grouped bar chart
ax = pivot_df.plot(kind='bar', figsize=(12, 8), width=0.8)

# Add titles and labels
ax.set_title('2019 vs 2020 Domestic Passengers by Airline')
ax.set_xlabel('Airline')
ax.set_ylabel('Number of Domestic Passengers')
ax.legend(title='Year', labels=['2019', '2020'])

plt.show()

In [ ]:
######### INTERNATIONAL

########

In [ ]:
df_list = [alaska_air, air_wisconsin, allegient_airways, american_airways , commutair_passenger
, delta, eastern, envoy,frontier , gojet ,hawaii, horizon, jetblue,horizon
, mesa,  republic, silver, skywest_air, sw ,united_airlines] #missing psa and sum_cunt

In [ ]:
new_dfs = []
gojet

In [ ]:
for i, df in enumerate(df_list):
    df = df.loc[: , ["Year", "INTERNATIONAL", "Airline"]]
    new_dfs.append(df)

In [ ]:
#new_dfs

In [ ]:
for i in new_dfs:
    i['INTERNATIONAL'] = i['INTERNATIONAL'].astype(str).str.replace(',',"")
    i["INTERNATIONAL"] = i["INTERNATIONAL"].fillna('0')

In [ ]:
#new_dfs

In [ ]:
for i in new_dfs:
    i["Year"] = i["Year"].fillna(0).astype(int)

In [ ]:
#new_dfs

In [ ]:
for i in new_dfs:
    i.drop(i[i["INTERNATIONAL"]== "nan"].index, inplace=True)

In [ ]:
#new_dfs

In [ ]:
for i in new_dfs:
    i["INTERNATIONAL"] = i["INTERNATIONAL"].astype(int)

In [ ]:
#new_dfs

In [ ]:
merged_df = pd.concat(new_dfs, ignore_index=True)

In [ ]:
#merged_df

In [ ]:
subset_df = merged_df.loc[merged_df['Year'].isin([2019, 2020])]

# Group the data by Year and Airline, and calculate the sum of International
grouped_df = subset_df.groupby(['Year', 'Airline']).sum().reset_index()

# Pivot the dataframe to make a grouped bar chart
pivot_df = grouped_df.pivot(index='Airline', columns='Year', values='INTERNATIONAL')

# Sort the values in descending order
pivot_df = pivot_df.sort_values(by=2020, ascending=False)

# Create a grouped bar chart
ax = pivot_df.plot(kind='bar', figsize=(12, 8), width=0.8)

# Add titles and labels
ax.set_title('2019 vs 2020 International Passengers by Airline')
ax.set_xlabel('Airline')
ax.set_ylabel('Number of International Passengers')
ax.legend(title='Year', labels=['2019', '2020'])

plt.show()